apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "rustfs.fullname" . }}-config
  labels:
    {{- toYaml .Values.commonLabels | nindent 4 }}
data:
  {{- with .Values.config }}
  RUSTFS_ADDRESS: {{ .address | quote }}
  RUSTFS_CONSOLE_ADDRESS: {{ .console_address | quote }}
  RUSTFS_CONSOLE_ENABLE: {{ .console_enable | quote }}
  RUSTFS_OBS_LOG_DIRECTORY: {{ .obs_log_directory | quote }}
  RUSTFS_OBS_LOGGER_LEVEL: {{ .log_level | quote }}
  RUSTFS_OBS_ENVIRONMENT: {{ .obs_environment | quote }}
  {{- if .region }}
  RUSTFS_REGION: {{ .region | quote }}
  {{- end }}
  {{- with .log_rotation }}
    {{- if .size }}
  RUSTFS_OBS_LOG_ROTATION_SIZE_MB: {{ .size | quote }}
    {{- end }}
    {{- if .time }}
  RUSTFS_OBS_LOG_ROTATION_TIME: {{ .time | quote }}
    {{- end }}
    {{- if .keep_files }}
  RUSTFS_OBS_LOG_KEEP_FILES: {{ .keep_files | quote }}
    {{- end }}
  {{- end }}
  {{- if .domains }}
  RUSTFS_SERVER_DOMAINS: {{ include "rustfs.serverDomains" $ | quote }}
  {{- end }}
  {{- end }}
  {{- if .Values.mode.distributed.enabled }}
  RUSTFS_VOLUMES: {{ .Values.config.volumes | default (include "rustfs.volumes" .) }}
  {{- else }}
  RUSTFS_VOLUMES: "/data"
  {{- end }}
