[package]
name = "rustfs"
version = "0.1.0"
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
store = { path = "../store" }
clap = { version = "4.5.7", features = ["derive"] }
s3s = { version = "0.10.0" }
anyhow = { version = "1.0.86" }
tracing = { workspace = true }
tracing-subscriber = { version = "0.3.18", features = ["env-filter", "time"] }
time = { workspace = true, features = ["parsing", "formatting"] }
async-trait = { workspace = true }
tokio = { workspace = true, features = [
    "rt-multi-thread",
    "macros",
    "net",
    "signal",
] }
hyper-util = { version = "0.1.5", features = [
    "tokio",
    "server-auto",
    "server-graceful",
] }
