[workspace]
resolver = "2"
members = ["rustfs", "store"]

[workspace.package]
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/rustfs/rustfs"
rust-version = "1.75"

[workspace.dependencies]
serde = { version = "1.0.203", features = ["derive"] }
serde_json = "1.0.117"
tracing = "0.1.40"
futures = "0.3.30"
bytes = "1.6.0"
http = "1.1.0"
thiserror = "1.0.61"
time = "0.3.36"
async-trait = "0.1.80"
